<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit project</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div>
    <a href="" th:href="@{/login}">Login</a>
    <br>
    <a href="#" th:href="@{/register}">Register</a>
    <br>
    <a href="#" th:href="@{/submit/{id}(id=${user.getId()})}">Submit new post</a>
</div>
<div id="spacer-side">
    <h1>Trending posts</h1>
</div>

<div>
    <table>
        <tr th:each="post : ${posts}">
            <td th:text="${post.getId()}"></td>
            <td th:text="${post.getLikes()}"></td>
            <td><a th:href="@{/voteUp/{id}(id=${post.getId()})}">+</a></td>
            <td><a th:href="@{/voteDown/{id}(id=${post.getId()})}">-</a></td>
            <td><a th:href="@{${post.getUrl()}}"><p th:text="${post.getTitle()}"></p></a></td>
        </tr>
    </table>
</div>
<div>
    <h1 th:text="${user}"></h1>
</div>
</body>
</html>