<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
</head>
<body>
<h1>EDIT TODO</h1>
<form action="#" th:action="@{'/todo/{id}/edit'(id=${id})}" th:object="${todo}" th:method="post">
    <label>Todo description</label><input type="text" th:field="*{title}">
    <label>Urgent</label><input type="checkbox" th:field="*{urgent}" th:checked="${urgent}">
    <label>Done</label><input type="checkbox" th:field="*{done}" th:checked="${done}">
    <label>Add assignee</label>
    <select>
        <option th:each="assignee : ${assignees}" th:value="${assignee}" th:text="${assignee.toString()}"></option>
    </select>
    <button type="submit">Edit todo</button>
</form>
<!--<form action="#" th:action="@{'/todo/{id}/edit'(id=${id})}" th:object="${assignee}" th:method="post">-->
<!--    <label>Add assignee</label>-->
<!--    <select>-->
<!--        <option th:each="assignee : ${assignees}" th:value="${assignee.getId()}" th:text="${assignee.toString()}"></option>-->
<!--    </select>-->
<!--    <button type="submit">Add</button>-->
<!--</form>-->
</body>
</html>