<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank of Simba :: INDEX</title>
</head>
<body>
<table>
    <form th:action="${'/bank/show'}" th:method="put" novalidate>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Good or bad</th>
            <th>Increase your balance</th>
        </tr>
        <tr th:each="account, status : ${accounts}">
            <td th:text="${status.index + 1}"></td>
            <td th:text="${account.getName()}"></td>
            <td th:text="${account.getTwoDecimalBalance()}"></td>
            <td th:text="${account.getAnimalType()}"></td>
            <td><p th:if="${account.isKing()}" style="color: gold">KING</p></td>
            <td>
                <p th:if="${account.isGoodGuy() && account.isKing()}">Good guy</p>
                <p th:if="${!account.isGoodGuy() && account.isKing()}">Bad guy</p>
            </td>
            <td>
                <button type="submit" name="add" th:if="${account.isKing()}" th:value="${account.setBalance()}">+100</button>
                <button type="submit" name="add" th:if="${!account.isKing()}" th:value="${account.setBalance()}">+10</button>
            </td>
        </tr>
    </form>
</table>

</body>
</html>