<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
<div>
    <ul>
        <li><a href="#" th:href="@{/(name=${fox.getName()})}">Information</a></li>
        <li><a href="" th:href="@{/nutritionStore(name=${fox.getName()})}">Nutrition Store</a></li>
        <li><a href="" th:href="@{/trickCenter(name=${fox.getName()})}">Trick Center</a></li>
    </ul>
</div>
<div>
    <img src="../static/images/fox.png" alt="Fox" th:src="@{images/fox.png}">
    <p th:text="${fox.toString()}"></p>
</div>
<div>
    <h2>Known tricks</h2>
    <p th:if="${fox.getTricks().isEmpty()}">You know no tricks, yet. Go and learn some.</p>
    <ul>
        <li th:each="tricks : ${fox.getTricks()}" th:text="tricks"></li>
    </ul>
</div>
</body>
</html>