<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1>Welcome to Programmer Fox Club!</h1>
</div>
<div>
    <p th:if="${name} != null" th:text="'You have provided a name that has not been used before, add it as a new one!'" style="color: red"></p>
    <p>Please provide a name, so you can associate it to your pet</p>
    <form action="" th:name="name" th:method="post">
        <label for="name">Name</label><input type="text" id="name" th:name="name">
        <button type="submit">GO</button>
    </form>
</div>
</body>
</html>